

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  0 150px;
}

.nav-title{
    font-weight: 700;
    font-size: 45px;
}
/* shared styles */

.secondary-bg{
    background-color: rgba(78, 71, 255, 0.1)
}

.text-primary{
    color: #4E47FF;
}

nav ul li{
    list-style: none;

}

nav li a {
    font-size: 20px;
}

nav ul{
    display: flex;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px;
    border-radius: 5px;
    
}
.btn-primary1{
    margin-bottom: 200px;
    margin-top: none;
    background-color: #4E47FF;
    font-weight: bold;
    border: none;
     font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px;
    border-radius: 5px;

}
/* Header */
.header{
    background-image: url('../Assets/Hero-bg.png');
}

/* banner styles */
.banner{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 309px 267px 152px 267px;

}

.banner-title{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 37px;
    margin-top: 20px;


}



.raleway-normal1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
}

/* Action styles */

.action{
    display: flex;
    justify-content: space-between;
    margin: 0 159px 0 177px;
}

.banner-greetings{
    font-size: 42px;
    font-weight: bold;
}

.action-profile{
    width: 303px;
    height: 228px;
    border-radius: 48px;

}

.action-description{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
}

.section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

/* Main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* Productive styles */
.productive{
    border-radius: 24px;
    padding: 30px 50px;
    text-align: center;
    margin:  30px 32px;
    gap:;
}

.productive-items{
    display: flex;
    justify-content: space-around;
    font-size: 80px;
    margin: 5px;

}

.item-title{
    font-weight: bold;
    color: #4E47FF;
    margin: 5px;
    

}
.item-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 5px;
    
}