

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  0 150px;
}

.nav-title{
    font-weight: 700;
    font-size: 45px;
}
/* shared styles */

.secondary-bg{
    background-color: rgba(78, 71, 255, 0.1)
}

.text-primary{
    color: #4E47FF;
}

nav ul li{
    list-style: none;

}

nav li a {
    font-size: 20px;
}

nav ul{
    display: flex;
}

.text-center{
    text-align: center;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px;
    border-radius: 5px;
    
}
.btn-primary1{
    margin-bottom: 200px;
    margin-top: none;
    background-color: #4E47FF;
    font-weight: bold;
    border: none;
     font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px;
    border-radius: 5px;

}
/* Header */
.header{
    background-image: url('../Assets/Hero-bg.png');
}

/* banner styles */
.banner{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 309px 267px 152px 267px;

}

.banner-title{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 37px;
    margin-top: 20px;


}



.raleway-normal1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
}

/* Action styles */

.action{
    display: flex;
    justify-content: space-between;
    margin: 0 159px 0 177px;
}

.banner-greetings{
    font-size: 42px;
    font-weight: bold;
}

.action-profile{
    width: 303px;
    height: 228px;
    border-radius: 48px;

}

.action-description{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
}

.section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

/* Main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* Productive styles */
.productive{
    border-radius: 24px;
    padding: 30px 50px;
    text-align: center;
    margin:  30px 32px;
    gap:;
}

.productive-items{
    display: flex;
    justify-content: space-around;
    font-size: 80px;
    margin: 5px;

}

.item-title{
    font-weight: bold;
    color: #4E47FF;
    margin: 5px;
    

}
.item-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 5px;
    
}
/* Review styles */
.review-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 2px 5px;

    .review{
         padding: 20px;
    box-shadow: 0px 1px 1px 0px ;
    border-radius: 5px;
    }
    
}

.img{
    border-radius: 30px;

}
.focus{
    max-width: 1140px;
    height: 694px;
}
.focus-title{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
    line-height: 1.2;
}
.focus-description{
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    font-size: 16px;

}
.focus-contant{
    text-align: center;
    padding: 30px;
    display: block;
    margin-top: 200px;
    margin-bottom: 0px;
    gap: 20px 332px;
    display: block;
    

}

.pic-center{
    text-align: center;
}

.image1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 259px 150px 71px 150px;
    margin-top: 0px;
    display: block;
    width: 840px 346px;
    padding: 0;
    margin-bottom: 100px;
    
}
/* letter styles*/


.letter-title{
    font-weight: bold;
    font-size: 70px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    width: 528px;
    height: 232px;
    margin-right: 540px;
}

.letter-column{
    width: 50%;
    
}
.letter-columns{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}

main input[ type="text"], main textarea {
    height: 70px;
    width: 497px;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
}
.get-touch{
    height: 70px;
    width: 497px;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    background-color: #4E47FF;
    font-weight: bold;

}
/* Footer style */
.section-title1{
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
}
.section-description{
    font-size: 18px;
    color: #8987A1;
    margin-top: 0px;
    margin-bottom: 0;

}
footer{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    padding: 30px 50px;
    text-align: center;
    margin: bottom 0;
    margin-top: 30px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    color: #8987A1;
    width: 401px;
    height: 24px;
    text-align: justify;
    margin-left: 325px;
    
}